:root {
    --green1: #00ff7f;
    --green1TP: rgba(0, 255, 127, 0.5);
    --green2: #00CC66;
    --black1: #000000;
    --black2: #141414;
    --black3: #0f0f11;
    --black4: #202124;
    --white1: #ffffff;
    --white2: #f4f4f4;
    --white3: #f5f5f5;
    --white4: #e7e7e7;
    --gray1: #999da2;
    --gray1Hover: #c2c4c7;
    --gray2: #807f86;
    --gray2Hover: #b3b2b6;
    --gray3: #413f48;
}

html {
    scroll-behavior: smooth;
    /* cursor: none; */
}

body {
    background-color: var(--black4);
    color: var(--white1);
    font-family: 'Google Sans', 'Arial', sans-serif;
    margin: 0;
    font-size: 28px;
    /* cursor: none; */
}

*:is(span):not(.copyright, .social-links)::selection {
    background-color: rgba(0, 255, 127, 0.25);
    color: rgba(0, 255, 127, 0.75);
}

*:is(.copyright, .social-links)::selection {
    background-color: var(--green2);
    color: currentColor;
}

*:not(span)::selection {
    background-color: var(--green2);
    color: currentColor;
}

body::-webkit-scrollbar {
    display: none;
}

#bTTBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 8px;
    border: 2px solid var(--green1);
    outline: none;
    background-color: transparent;
    color: var(--green1);
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: 0.1s linear;
}

#bTTBtn:hover {
    background-color: var(--green1);
    border: 2px solid var(--green1);
    color: var(--black3);
    transition: 0.1s linear;
}

header {
    padding: 30px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: -1;
    background-color: rgb(20, 20, 20);
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header p {
    font-weight: 500;
}

footer {
    padding: 15px;
    text-align: center;
    bottom: 0;
    background-color: rgb(20, 20, 20);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 16px;
    color: var(--gray1);
}

.copyright-container {
    margin-bottom: 8px;
}

footer span {
    cursor: default;
}

footer span:hover {
    cursor: default;
}

.social-icon {
    height: 35px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
    cursor: pointer;
}

.social-icon:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

#navbar {
    overflow: hidden;
    background-color: var(--black2);
}

#navbar a {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-rounded {
    vertical-align: middle;
}

.content {
    padding: 16px;
    background-color: var(--black4);
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 95px;
}

.site-home {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#site-logo {
    width: 60px;
    height: 60px;
    transition: all 0.2s ease;
}

#nav-items {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    transition: all 0.2s ease;
}

a {
    color: var(--white1);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: var(--green1);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#active {
    text-decoration: none;
    font-weight: bold;
    color: var(--green1);
}

/* #caret.active {
    content: "expand_more";
} */

#active:hover {
    color: var(--green2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: xxx-large;
    margin-bottom: 5px;
    cursor: default;
}

h4 {
    text-transform: none;
    font-weight: 600;
    margin-top: 0;
    cursor: default;
}

#spacer {
    margin: 10px auto;
}

.gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    height: 60vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
}

.gallery::-webkit-scrollbar {
    visibility: hidden;
    display: none;
}

.active {
    scroll-snap-type: unset;
}

.blurred-gallery-img1,
.blurred-gallery-img2,
.blurred-gallery-img3 {
    scroll-snap-align: center;
    display: inline-block;
    font-size: 0;
}

#gallery-img1,
#gallery-img2,
#gallery-img3 {
    height: 60vh;
    border-radius: 20px;
}

.blurred-main-img,
.blurred-logo {
    background-repeat: no-repeat;
    background-size: cover;
}

.blurred-main-img::before,
.blurred-logo::before {
    inset: 0;
    opacity: 0;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
        filter: grayscale(100%), blur(5px);
        opacity: 0;
    }

    25% {
        filter: blur(4px);
        /* opacity: 0.8; */
    }

    50% {
        filter: blur(2.5px);
        /* opacity: 0.5; */
    }

    75% {
        filter: blur(3.75px);
        /* opacity: 0.75; */
    }

    100% {
        filter: grayscale(0%), blur(0px);
        opacity: 1;
    }
}

.blurred-main-img.loaded::before,
.blurred-logo.loaded::before {
    animation: none;
}

.blurred-main-img img,
.blurred-logo img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.blurred-main-img.loaded img,
.blurred-logo.loaded img {
    opacity: 1;
}

#contactForm>input[type=text],
#contactForm>select,
#contactForm>textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--black4);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: var(--black4);
    color: var(--white1);
    font-family: 'Google Sans', 'Arial', sans-serif;
}

#contactForm>input[type=submit] {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background-color: var(--green1);
    color: var(--black1);
    font-weight: 600;
    border: none;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    padding: 10px 20px;
}

#contactForm>input[type=submit]:hover {
    background-color: var(--green2);
}

.container {
    border-radius: 10px;
    background-color: var(--black2);
    padding: 20px;
    width: 70%;
    height: 70%;
    margin: auto;
}

#country {
    border: 2px solid var(--white2);
    background-color: var(--white1);
    text-transform: uppercase;
    color: var(--gray3);
    font-weight: 600;
}

#contactForm {
    text-align: left;
    background-color: var(--black2);
}

#contactForm>label {
    color: var(--gray1);
    font-size: small;
    margin: 2px 0;
}

.required-field::after {
    content: " *";
    color: red;
}

*:required {
    background-color: gold;
}

legend {
    text-transform: uppercase;
    color: var(--white3);
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    z-index: 1;
    border-bottom: 1.25px solid var(--white4);
    width: fit-content;
    margin: auto auto 15px auto;
    cursor: default;
}

#backToHome {
    width: 100px;
    height: 100px;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 25px;
    border: 1px solid var(--green1);
    background-color: transparent;
    color: var(--green1);
    transition: 0.1s linear;
    font-family: 'Google Sans', 'Poppins', 'Arial', sans-serif;
    cursor: pointer;
}

#backToHome:hover {
    border: 1px solid var(--green1);
    background-color: var(--green1);
    color: var(--black3);
    transition: 0.1s linear;
    cursor: pointer;
}

/* #circularcursor {
    background-color: transparent;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 1;
} */

/* #invertedcursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid #fff;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
} */